<?xml version="1.0" encoding="UTF-8"?>
<beans 


xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"



>

<bean class="com.springcore.Student" name="student1">
<property name="studentId" value="27170"></property>
<property name="studentName" value="umar"></property>
<property name="studentAddress" value="karachi"></property>
</bean>

<bean class="com.springcore.Student" name="student2">
<property name="studentId" value="27160"></property>
<property name="studentName" value="talha"></property>
<property name="studentAddress" value="california"></property>
</bean>

</beans>